<footer  class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "A2Nexus", "https://a2nexus.pk", class: "text-white" %></small>
  </div>
</footer>
